body {
    font-family: Arial, sans-serif;
    padding-bottom: 50px;    
    background-image: url(./Images/stars_bg.png);
    text-align: center; 
    align-items: center;
    
}

header {      
    background-color: black;
    margin: 0px auto; 
    padding: 10px;
    max-width: 100%;
}

h1 {
    margin: 10px;
    text-align: center; 
    flex-grow: 1; 
    background-color: #ffc0cb; 
    color: black;
    padding: 5px; 
}

h2 {
    color: #c2304d; 
    background-color:lightblue; 
}

h3 {
    color: #c2304d; 
}

.header-container {    
    max-width: 100%;    
    padding: 5px;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border-radius: 15px;
    color: white;
    z-index: 1000;
}

.header-row-container{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    max-width: 800px;
    margin: 20px auto;
    width:100%;
    object-fit: fill;
}

.header-column1{
    flex: 1;
    text-align: right;
    margin: 0;
    padding: 20px;
}

.header-column2{
    max-width:600px;
    flex: 1;
    padding: 20px;
    text-align:center;
    object-fit: cover;
    margin-right: 20px;
}

.row-container {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    max-width: 800px;
    margin: 0 auto;    
}

.container {
    max-width: 80%;
    padding: 20px;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    color: white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    margin:50px auto;
    margin-top: 25%;
}

nav {
    display: flex;
    gap: 20px;
    justify-content: center; 
}

.nav-bar {
    background-color: lightblue;
    border-radius: 10px;
    display: flex;
    gap: 20px;        
    justify-content: center; 
    object-fit: contain;
}

.nav-bar a {
    white-space: nowrap;
    color:#c2304d;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
}

.nav-bar a:hover {
    color: white; 
}

a {
    font-weight: bold;
    text-decoration:underline;
    color: #59f1e5;
    margin: 0 15px;    
}

a:hover {
    color: #ffffff; 
}

.column {
    flex: 1;
    text-align: left;
    padding: 50px;
    
}

.column1 {
    flex: 1;
    text-align: right;
    margin: 0;
    padding: 20px;
}

.column2 {
    flex: 1;
    padding: 20px;
    text-align:left;
}

.column2 img {
    width: 100%;
    height: auto;
    border-radius: 10%;
    object-fit: cover;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
}




.contact-container {
    background-color: black;
    color: aliceblue;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    top: 200px;
    position: relative;    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row_contact {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.row_contact:last-child {
    justify-content: center;
}


label {    
    color: lightblue;
    margin-right: 10px;
    font-weight: bold;
}

input {
    background-color:#ffc0cb;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#contact_link{
        position: relative;
        bottom: 0;
        right: 0;
        margin: 20px;     
}

button{
    background-color: #c2304d;
    color: white;
}

b{
    color: #c2304d;
}

.download-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);            
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}



@media only screen and (max-width: 600px) {
    /* Mobile styles */

    body {
        font-family: Arial, sans-serif;
        padding-bottom: 50px;
        background-image: url(./Images/stars_bg.png);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .header-container {
        max-width: 80%;
        width: 100%; 
        padding: 5px;
        position: absolute;
    
        top: 40%;        
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        border-radius: 15px;
        color: white;
        z-index: 1000;        
    }
    .header-column2{
        max-width: 100%;
    }

    nav {
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    .nav-bar {
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        overflow: hidden; 
    }

    .nav-bar a {
        padding: 8px auto;
        margin: auto;
        width: 100%; 
        box-sizing: border-box;
        text-align: center; 
    }

    .container {
        max-width: 100%; 
        top: 80%; 
        margin-top: 10px; 
        position: absolute;
    }

    .row-container {
        flex-direction: column; 
        align-items: center; 
        width:100%;
        margin: 20px auto;
    }

    .column,
    .column1,
    .column2 {
        text-align: center; 
        padding: 15px; 
        flex: 1;
    }

    .column2 img {
        padding:0;
        margin:auto;
        width: 80%;
    }

    .contact-container {
        top: 90%;
        margin-top: 10px;
        max-width: 100%; 
    }

    .row_contact {
        flex-direction: column; 
        align-items: center; 
    }
    
    #aboutme_mobile{
        top: 1150px;
        width:80%;
    }
    #home_mobile{
        top:800px;
        align-items: center;
    }
    #project_mobile{
        top: 1400px;
        width:80%;
    }
    #resume_mobile{
        width: 70%;
        top:650px;

    }
    #contact_mobile{
        top:500px;
    }
    
}



